.ImagenContainer {
    display: flex;
    justify-content: flex-end;
    cursor: pointer	;
    padding: 12px;
    font-size: 50px;
    color: yellow
}

img {
    height: 10%;
    width: 10%;
    border-radius: 5%;
    
}

