.NavbarLogo {
    color: white;
    font-weight: 399;
}

.SpanLogo {
    font-weight: bold;
}

.NavbarContainer {
    padding: .4rem;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}